body {
  background-image: url('../images/standby.png');
}

/*--------------------------------------------------
Schedule
--------------------------------------------------*/
#next {
  position: absolute;
  top: 130px;
  left: 865px;
  font-size: 58px;
  font-family: 'RoundedHeavy';
}

.mokuji {
  position: absolute;
  width: 975px;
  height: 835px;
  top: 107px;
  left: 830px;
  font-family: 'RoundedHeavy';
}

.next1 {
  position: relative;
  width: 900px;
  height: 210px;
  top: 170px;
  left: 35px;
}

.next2 {
  position: relative;
  width: 900px;
  height: 210px;
  top: 185px;
  left: 35px;
}

.next3 {
  position: relative;
  width: 900px;
  height: 210px;
  top: 215px;
  left: 33px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.category_runner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 60px;
  font-size: 36px;
}

.category_runner .category,
.category_runner .runner {
  font-size: 36px;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.category_runner .category {
  padding-right: 10px;
}

.category_runner .runner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 900px;
  height: 60px;
  top: 110px;
}

/**
.category_runner .category::before {
  content: '(';
}

.category_runner .category::after {
  content: ')';
}
**/

.bgm {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 1235px;
  top: 960px;
  width: 657px;
  height: 80px;
}

.bgm > span {
  position: relative;
  font-size: 28px;
  font-family: 'RoundedHeavy';
}
