body {
  background-image: url('../images/standby.png');
}

/*--------------------------------------------------
Schedule
--------------------------------------------------*/
.mokuji {
  position: absolute;
  width: 975px;
  height: 835px;
  top: 107px;
  left: 830px;
  font-family: 'RoundedHeavy';
  /* border: 1px solid black; */
}

.next1 {
  position: absolute;
  width: 892px;
  height: 255px;
  top: 100px;
  left: 38px;
  /* border: 1px solid red; */
  padding-top: 50px;
}

.next2 {
  position: absolute;
  width: 892px;
  height: 236px;
  top: 360px;
  left: 38px;
  padding-top: 35px;
  /* border: 1px solid blue; */
}

.next3 {
  position: absolute;
  width: 892px;
  height: 232px;
  top: 601px;
  left: 38px;
  padding-top: 35px;
  /* border: 1px solid violet; */
}

.title {
  text-align: center;
  font-size: 34px;
  /* border: 1px solid salmon; */
}

.category_runner {
  font-size: 36px;
  text-align: center;
  /* border: 1px dotted darkblue; */
}

/*
.category_runner .category,
.category_runner .runner {
  font-size: 36px;
  overflow-wrap: break-word;
  word-break: keep-all;
}
*/

.category_runner .category {
  padding-right: 10px;
}

/*
.category_runner .runner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 900px;
  height: 60px;
  top: 110px;
}
*/

/*--------------------------------------------------
Schedule
--------------------------------------------------*/

.marquee {
  position: absolute;
  width: 1300px;
  height: 50px;
  line-height: 50px;
  bottom: 1px;
  overflow: hidden;
  gap: 25px;
  font-size: 38px;
  font-family: 'KomorebiGothic';
}
.marquee-inner {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/*
.bgm {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 1235px;
  top: 960px;
  width: 657px;
  height: 80px;
}

.bgm > span {
  position: relative;
  font-size: 28px;
  font-family: 'RoundedHeavy';
}

*/