body {
  background-image: url('../images/4x3.png');
}

/*--------------------------------------------------
timer
--------------------------------------------------*/
.time {
  position: absolute;
  width: 278px;
  height: 130px;
  left: 145px;
  top: 700px;
  text-align: center;
}

.time p {
  margin-bottom: 0;
}

.time > span {
  font-size: 62px;
  font-family: 'RoundedMedium';
}

.time > span.stopped {
  color: black;
}

.time > span.running {
  color: black;
}

.time > span.paused {
  color: #bfbfbf;
  -webkit-text-stroke: 2.7px #4e4e4e;
}

.time > span.finished {
  color: #fbf46b;
  -webkit-text-stroke: 2.7px #a7a31e;
}

.est,
.mes {
  font-size: 36px;
  line-height: 80%;
  font-family: 'RoundedMedium';
  color: black;
}

.est {
  position: relative;
  top: 4px;
}

/*--------------------------------------------------
gameinfo
--------------------------------------------------*/

.gametitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1050px;
  height: 78px;
  left: 75px;
  top: 900px;
}

.gametitle span {
  position: relative;
  font-size: 40px;
  font-family: 'RoundedMedium';
}

.runcategory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 450px;
  height: 78px;
  left: 1140px;
  top: 900px;
  font-size: 28px;
  font-family: 'RoundedMedium';
}

/*--------------------------------------------------
player
--------------------------------------------------*/

.player1 .player_name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 330px;
  height: 80px;
  left: 165px;
  top: 440px;
  font-size: 33.0px;
  font-family: 'RoundedBold';
}

.player1.clear .player_time {
  opacity: 0;
}

.player1 .sns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 330px;
  height: 80px;
  left: 165px;
  top: 440px;
  font-size: 34px;
  font-family: 'RoundedBold';
}

.twitch,
.twitter,
.youtube {
  display: inline-block;
  vertical-align: middle;
}

.twitch_icon > img {
  vertical-align: middle;
  margin-right: 15px;
  width: 35px;
  height: 35px;
}

.twitter_icon > img {
  vertical-align: middle;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  transform: translateY(-3px);
}

.youtube_icon > img {
  vertical-align: middle;
  margin-right: 15px;
  width: 38px;
  height: 38px;
  transform: translateY(-4px);
}

/*--------------------------------------------------
Commentator
--------------------------------------------------*/

.commentator1 .commentator_name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 330px;
  height: 80px;
  left: 165px;
  top: 545px;
  font-size: 33px;
  font-family: 'RoundedBold';
}

.commentator1 .sns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 330px;
  height: 80px;
  left: 165px;
  top: 545px;
  font-size: 34px;
  font-family: 'RoundedBold';
}